<!doctype html>
<html>
{% set lib_url = "http://grep.ro/quickpub/lib" %}
<head>
  <meta charset="utf-8">
  <title>AgriPay</title>
  <link rel="stylesheet"
        href="{{ lib_url }}/OpenLayers-2.12/theme/default/style.css">
  <style>
    #map {
      width: 940px;
      height: 650px;
      border: 2px solid #999;
    }
  </style>
</head>
<body>

  <div id="map"></div>

  <script>window.App = {MAPSERV_URL: "http://localhost:5000/mapserv"};</script>
  <script src="{{ lib_url }}/jquery-1.7.2/jquery.min.js"></script>
  <script src="{{ lib_url }}/OpenLayers-2.12/OpenLayers.js"></script>
  <script src="{{ url_for('static', filename='map.js') }}"></script>

</body>
</html>
