<!doctype html>
<html>
{% set LIB_URL = config['LIB_URL'] %}
<head>
  <meta charset="utf-8">
  <title>AgriPay</title>
  <link rel="stylesheet"
        href="{{ LIB_URL }}/OpenLayers-2.12/theme/default/style.css">
  <style>
    #map {
      width: 940px;
      height: 650px;
      border: 2px solid #999;
    }
  </style>
</head>
<body>

  <div id="map"></div>

  <script>window.App = {MAPSERV_URL: "/mapserv"};</script>
  <script src="{{ LIB_URL }}/jquery-1.7.2/jquery.min.js"></script>
  <script src="{{ LIB_URL }}/OpenLayers-2.12/OpenLayers.js"></script>
  <script src="{{ url_for('static', filename='map.js') }}"></script>

</body>
</html>
